.logo{
    height: 100px;
    /* display: block;
    margin: auto; */
}
body{
    width: 100vw;
    /* height: 100vh; */
    background: linear-gradient(white,purple);
     font-family: "Poppins", sans-serif;
    /* background: linear-gradient(180deg, #ffe3ed, #b03ab9); */
}
.container{
    /* background-color: red; */
    border:2px solid black;
    background-image: url('/bg.png');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;


    /* width: 900px; */
    width:63%;
    margin: auto;
    height: 60vh;
    /* overflow: auto; */
    overflow-y:auto; /* contain floated children so background is visible */
    margin-bottom: 12px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
}
.join{
    padding:9px;
    border:none;
    cursor:pointer;
    border-radius:8px;
    background-color: rgb(97, 194, 97);
    font-weight: bold;

}
.message{
    background-color: beige;
    width:200px;
    margin:10px;
    padding:6px;
    border:2px solid black;
    border-radius:8px;
    cursor: pointer;
    
}
.left{
    float:left;
    clear:both;
}
.right{
    float:right;
    clear:both;
}
#sub{
    display: flex;
    align-items: center;
    width:100%;
    justify-content: center;
    gap:5px;
    /* background-color: red;; */
}
.nav{
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
    align-items: center;
    margin:15px;
    /* flex-direction: column; */
}
/* #sub{
    width:75%;
} */

#mess-inp{
    /* width: 800px; */
    width:53%;
    border:2px solid black;
    border-radius: 6px;
    height:25px;
    padding:5px;
    /* background-color: red; */
    
}
.btn{
    cursor:pointer;
    border:2px solid black;
    border-radius:8px;
    color:black;
    background-color: rgb(97, 194, 97);
    padding:12px;
    width:60px;
    border: none;
    margin-left:6px;
    
}
.btn:hover{
    background-color: rgb(72, 161, 72);
    transform: scale(1.05);
}
.heading{
    text-align:center;
}

@media (max-width: 450px) {
    .container{
        height: 40vh;
    }
    .message{
        width:50px;
    }
    #mess-inp{
        width: 60%;
        height:17px;
        padding:3px;
    }
   
}
.time{
    font-size: 12px;
    float:right;
    margin-top:12px;
    color:gray;

}

   .fade-out {
    opacity: 0;
    transition: opacity 0.7s ease; /* smooth fading */
}
.file{
    width: 80px;
    display: none;
    

}
.lab{
    border:2px solid black;
    border-radius:4px;
    color:black;
    background-color: rgb(97, 194, 97);
    padding:4px;
    width:120px;
    text-align: center;
    cursor: pointer;
    /*  */
   
    border: none;
    border-radius: 8px;
    /* color: white; */
    cursor: pointer;
    transition: 0.3s;

}
.lab:hover{
    background-color: rgb(72, 161, 72);
    transform: scale(1.05);
}

.image{
    width: 200px;
    height: auto;
}
.pdf-file{
    width: 100px;
    height: auto;
}
#typing{
    text-align: center;
    font-style: italic;
    color: green;
    /* height: 20px; */
}
.leave{
    background-color: red;
    font-weight: bold;
    
}
.leave:hover{
    background-color: darkred;
    transform: scale(1.05);
}